.hightLight {
    position: relative;
  }
  
  .hightLight::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    transition: 0.3s all;
  }
  
  .hightLight:hover::after {
    width: 100%;
    height: 2px;
    border: 1px solid #0373f3;
  }